html,body{
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul,li {
	list-style: none;
}
#content{
	width: 854px;
	margin: 100px auto;
	background: #fff;
	position: relative;
	overflow:hidden
}
.logo{
	height: 48px;
	width: 48px;
	display: block;
	margin: 20px auto;
	background: url(../img/milogo.png) no-repeat center 0;
	padding-bottom:40px;
}
h2{
	font-size: 30px;
	font-weight: normal;
	color: #333333;
	line-height: 1.5;
	text-align: center;
}
#footer{
	margin-top: 100px;
	color: #757575;
	text-align: center;  
	height: 80px;
}
#footer a{
	color: #757575;
}
#footer .one a{
	padding: 0 10px;
}
#footer img{
	display: inline-block;
}
#footer .one{
	padding: 10px;
}
.register_box ul {
	line-height: 20px;
	font-size: 14px;
}

.register_box p {
	padding-bottom: 5px;
	color: #333;
	font-size: 14px;
}

.register_box input {
	border: none;
	outline: none;
	font-size: 20px;
	width: 320px;
}

.register_box .inputbox {
	width: 332px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e8e8e8;
	text-indent: 5px;
	overflow: hidden;
}
.register_box #inputcaptcha{
	width: 220px;
	display: block;
	float: left;
	line-height: 2;
    text-indent: 5px
}
.register_box #captcha{
	width: 100px;
	float: right
}
.register_box #changecaptcha{
	color: #ff6700;
	text-align: right;
	display: block;
}
.register_box #register{
	width: 330px;
    height: 42px;
    margin: 20px auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    background: #FF6700;
    color: #FFFFFF;
}
.register_box form {
	width: 332px;
	margin: 20px auto;
}

.register_box .tip {
    margin: 5px 0;
    visibility: hidden;
    color: #FF6700;
    font-size:12px ;
}
.register_box #level{
	margin:10px auto;
}
.register_box #level>span {
	padding: 0 18px 0px 18px;
	background: #f3f3f3;
}

.register_box #level>.light {
	background: #333333;
	color: #fff;
}